name: Minio-dotnet Linux Tests

on:
  pull_request:
    branches:
      - master

# This ensures that previous jobs for the PR are canceled when the PR is
# updated.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
      
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ["6.0.x"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install the .NET
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Install dependencies
        run: |
          dotnet clean --configuration Release
          dotnet restore

      - name: Install tool dependencies and lint
        run: |
          dotnet tool restore
          # dotnet regitlint --fail-on-diff

      # Build and Execute build tests
      - name: Build & Unit Test
        run: |
          dotnet build --configuration Release --no-restore
          dotnet pack ./Minio/Minio.csproj --no-build --configuration Release --output ./artifacts
          dotnet test ./Minio.Tests/Minio.Tests.csproj

      # Execute all functional tests in the solution
      - name: Execute Functional Tests
        env:
          MINT_MODE: full
          SERVER_ENDPOINT: localhost:9000
          ACCESS_KEY: minio
          SECRET_KEY: minio123
          ENABLE_HTTPS: 1
          ENABLE_KMS: 1
          MINIO_ACCESS_KEY: minio
          MINIO_SECRET_KEY: minio123
          MINIO_KMS_SECRET_KEY: my-minio-key:OSMM+vkKUTCvQs9YL/CVMIMt43HFhkUpqJxTmGl6rYw=
        run: |
          wget --quiet -O /tmp/minio https://dl.min.io/server/minio/release/linux-amd64/minio
          chmod +x /tmp/minio
          mkdir -p /tmp/minio-config/certs/
          cp Minio.Functional.Tests/certs/* /tmp/minio-config/certs/
          sudo cp /tmp/minio-config/certs/public.crt /etc/ssl/certs/
          sudo cp /tmp/minio-config/certs/private.key /etc/ssl/private/
          /tmp/minio -C /tmp/minio-config server /tmp/fs{1...4} &
          dotnet build  Minio.Functional.Tests --configuration Release
          dotnet Minio.Functional.Tests/bin/Release/net6.0/Minio.Functional.Tests.dll
